@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@import './custom.css'; 


header{
    font-family: 'Montserrat', serif;
}

header h1{
    color: #3d505a;
}

.logintitle{
    color: #f58229;
}

.formLogin{
    background-color: rgb(243, 243, 243);
}

.menu-enter {
    transform: translateY(100%);
}

.menu-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.menu-exit {
    transform: translateY(0);
}

.menu-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}