

/* Calandrier */
.calendar-container{
width: 350px; /* Je peux pas elargire plus le calendrier que ca je crois  */
height: 800px;
margin:auto;
}

/* Fond du popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenu du popup */
.popup-content {
  background: white;
  width: 350px; /* Largeur fixe */
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

/* Logo */
.logo {
  width: 120px;
  margin-bottom: 20px;
}

/* Boutons */
.popup-btn {
  background: orange;
  color: white;
  font-size: 18px;
  border: none;
  padding: 12px;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.popup-btn:hover {
  background: #e67e22;
}

/* Bouton fermer */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.custom-datepicker {
  width: 100%;
  max-width: 400px;
  border: solid 1px;
  padding: 5px;
}


.react-calendar__tile.red {
  background-color: #0f54a3; /* Rouge */
  color: white;
  border-radius: 6px;
}

.react-calendar__tile.blue {
  background-color: #005148; /* Bleu */
  color: white;
  border-radius: 6px;
}

.react-calendar__tile.green {
  background-color: #538618; /* Vert */

  color: white;
  border-radius: 6px;
}

.react-calendar__tile.react-calendar__tile.light-black {
  background-color: #81161f; /* Bleu */
  color: white;
  border-radius: 6px;
}

.react-calendar__tile.purple {
  background-color: #383456; /* Vert */

  color: white;
  border-radius: 6px;
}
.react-calendar__tile.yellow {
  background-color: #0f9e97; /* Rouge */
  color: white;
  border-radius: 6px;
}
